<h1>Welcom to my first page</h1>
<h3>This is first edition of ruby on rails training :}</h3>

<h4>Ciekawostka : </h4>
<tr>
  <li>
    Czy wiesz do czego słuzy Internet Exploer
   </li>
</tr>
</br>
<h4> - do pobrania innej  <strong> PRZEGLĄDARKI :)</strong></h4>
