<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Home", root_path , id: "logo", class: "navbar-brand" %>
  <nav>
    <ul class="nav navbar-right">
      <li>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Find Product" aria-label="Search">
          <button class="btn btn-success" type="button">Search</button>
        </form>
      </li>
    </ul>
  </nav>
</nav>