<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Home", root_path , id: "logo", class: "navbar-brand" %>
  <nav>
    <ul class="nav navbar-right">
      <li>
        <form class="form-inline">
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <input class="form-control mr-sm-2" type="search"  aria-label="Search" placeholder="Find Product" <%= f.text_field :q, id: :q, require: true %>
            <button class="btn btn-success btn-sm" > <%= f.submit "Search", class:'btn btn-success btn-sm ' %> </button>
          <% end %>
        </form>
      </li>
    </ul>
  </nav>
</nav>

